{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content%}
<div>
    <h1>Your Cart</h1>
    {% for item in items %}
        <div>
            <h2>{{ item.product.name }}</h2>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price: ${{ item.total_price }}</p>
            <a href="{% url 'delete_from_cart' item.id %}">Remove</a>
        </div>
    {% empty %}
        <p>Your cart is empty.</p>
    {% endfor %}
    <h3>Total: ${{ total }}</h3>

    <a href="{% url 'checkout' %}">
        <button>Proceed to Checkout</button>
    </a>
</div>
{% endblock %}