<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My  Cart</title>
</head>
<body>
    <h1>Your Cart</h1>
    {% for item in items %}
        <div>
            <h2>{{ item.product.name }}</h2>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price: ${{ item.total_price }}</p>
            <a href="{% url 'delete_from_cart' item.id %}">Remove</a>
        </div>
    {% empty %}
        <p>Your cart is empty.</p>
    {% endfor %}
    <h3>Total: ${{ total }}</h3>

    <a href="{% url 'checkout' %}">
        <button>Proceed to Checkout</button>
    </a>

</body>
</html>