{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
<div class="cart-page">
  <div class="cart-container">
      <h1>Your Cart</h1>

        {% for item in items %}
            <div class="cart-item">
                <div>
                    <h2>{{ item.product.name }}</h2>
                    <p>Quantity: {{ item.quantity }}</p>
                    <p>Price: ${{ item.total_price }}</p>
                </div>
                <a href="{% url 'delete_from_cart' item.id %}" class="remove-btn">Remove</a>
            </div>
        {% endfor %}


      <h3 class="cart-total">Total: ${{ total }}</h3>

      {% if items %}
      <a href="{% url 'checkout' %}" class="checkout-btn">Proceed to Checkout</a>
      {% endif %}
  </div>
</div>
{% endblock %}
