version: '3.8'

services:
  postgres:
    image: postgres:15
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  django:
    build:
      context: .
      dockerfile: ./compose/django/Dockerfile
    command: ./start
    volumes:
      - media_volume:/app/media
      - static_volume:/app/staticfiles
    env_file:
      - .env
    depends_on:
      - postgres
    restart: always

  nginx:
    build:
      context: .
      dockerfile: ./compose/nginx/Dockerfile
    volumes:
      - media_volume:/app/media
      - static_volume:/app/staticfiles
    ports:
      - 93:80
    restart: unless-stopped  

volumes:
  postgres_data:
  static_volume:
  media_volume:
