{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

    <h1>Products</h1>

    {% if products %}
        <div class="product-grid">
            {% for product in products %}
            <div class="product-card">
                <h2>{{ product.name }}</h2>
                <p> R$ {{ product.price }}</p>
                <a href="{% url 'product_detail' product.id %}"> View </a>
                <form action="{% url 'add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit"> Add to cart </button>
                </form>
            </div>
            {% endfor %}
        </div>

         <div class="pagination">
            {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">Anterior</a>
            {% endif %}

            {% for num in products.paginator.page_range %}
            {% if products.number == num %}
                <span class="active">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}

            {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">Próxima</a>
            {% endif %}

            <p>
                Mostrando {{ products.start_index }}-{{ products.end_index }}
                de {{ products.paginator.count }} products
            </p>
        </div>
    {% else %}
        <p>Nenhum produto encontrado </p>
    {% endif %}

{% endblock %}