* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;

}

header, footer {
    background-color: #0aa9ee;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    flex: 1;
    padding: 1rem;
    background-color: #eceaea;
}



#div-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#nav-inputs {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 1rem;
}