* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;   
}

header, footer {
    background-color: #0aa9ee;
    color: white;
    text-align: center;
    padding: 1rem;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

header a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 1rem;
    background-color: #eceaea;
}


#div-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#nav-inputs {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 1rem;
}

#nav-inputs form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
}

#nav-inputs input[type="text"],
#nav-inputs input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.3rem 0.4rem;
    outline: none;
    transition: 0.2s;
}

#nav-inputs input:focus {
    border-color: #0aa9ee;
}

#nav-inputs button {
    background-color: #0aa9ee;
    color: white;
    border: none;
    padding: 0.4rem 0.7rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

#nav-inputs button:hover {
    background-color: #0989c6;
}

#nav-inputs a {
    background-color: white;
    color: #0aa9ee;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    text-decoration: none;
    border: 1px solid #0aa9ee;
    transition: 0.3s;
}

#nav-inputs a:hover {
    background-color: #0aa9ee;
    color: white;
}

