{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content%}
<div>
    <h1>Checkout</h1>
    {% for item in items %}
    <div>
        <h3> {{ item.product.name }}</h3>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Price: ${{item.total_price}}</p>
    </div>
    {% endfor %}
    <h3>Total: ${{ total }}</h3>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit"> Place Order </button>
    </form>
</div>
{% endblock %}