{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/confirmation_order.css' %}">
{% endblock %}

{% block content %}
<div class="confirmation-container">
    <h1>Pedido #{{ order.order_number }} Confirmado!</h1>
    <p>Obrigado pela sua compra, {{ order.user.username }}!</p>

    <ul>
        {% for item in order.items.all %}
            <li>{{ item.product.name }} × {{ item.quantity }} = ${{ item.total_price }}</li>
        {% endfor %}
    </ul>

    <p class="total-paid">Total pago: ${{ order.total }}</p>

    <a href="{% url 'index' %}">Voltar à tela inicial</a>
</div>
{% endblock %}
