{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content%}
<div>
    <h1>Order #{{ order.id }} Confirmed</h1>
    <p>Thank you for your purchase, {{ order.user.username }}!</p>
    <ul>
        {% for item in order.items.all %}
            <li>{{ item.product.name }} x {{ item.quantity }} = ${{ item.total_price }}</li>
        {% endfor %}
    </ul>
    <p>Total Paid: ${{ order.total }}</p>
    <a href="{% url 'index' %}">Back to Home</a>
</div>
{% endblock %}