{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
                <div id="div-nav">
                    <H2><a href="{% url 'index' %}">Shopzone</a></H2> 
                    <div id='nav-inputs'>
                        <form method="get" action="{% url 'index' %}">
                            <input type="text" name="q" placeholder="Buscar produto..." value="{{ query|default_if_none:'' }}">
                            
                            <label for="min_price">Preço mínimo:</label>
                            <input type="number" name="min_price" step="0.01" value="{{ min_price|default:'' }}">
                            
                            <label for="max_price">Preço máximo:</label>
                            <input type="number" name="max_price" step="0.01" value="{{ max_price|default:'' }}">
                            
                            <button type="submit">Buscar</button>
                        </form>
                        <a href="{% url 'profile_view' %}"> Minha área </a>
                        <a href="{% url 'logout' %}"> Logout</a>
                        <a id='cart' href="{% url 'cart_view' %}"> Carrinho </a>
                    </div>

                </div>
                
            {% else %}  
                <div id="div-nav">
                    <H2><a href="{% url 'index' %}">Shopzone</a></H2>  

                    <div id='nav-inputs'>

                        <form method="get" action="{% url 'index' %}">
                            <input type="text" name="q" placeholder="Buscar produto..." value="{{ query|default_if_none:'' }}">
                            
                            <label for="min_price">Preço mínimo:</label>
                            <input type="number" name="min_price" step="0.01" value="{{ min_price|default:'' }}">
                            
                            <label for="max_price">Preço máximo:</label>
                            <input type="number" name="max_price" step="0.01" value="{{ max_price|default:'' }}">
                            
                            <button type="submit">Buscar</button>
                        </form>
                        <a href="{% url 'login' %}"> Login </a>
                        <a href="{% url 'register' %}"> Não possui conta? </a>
                        <a id="cart" href="{% url 'cart_view' %}"> Carrinho </a>
                    </div>
                </div>
            {% endif %}

        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>copyright © 2025 all rights reserved</p>
    </footer>

</body>
</html>